

///variables/////

$color0: #FFF;
$color1: #F85A5A;
$color2: rgba(#606060, 0.5);
$color4: #6cc6e4;
$color3: darken(#cf1515 , 3%);
$color5: #7D1334;
$color6: #34394b;
$color7: #af1515;
$color9: #d1d1d1;
$color10: #000;
$color11: #3f5add;
$color12: rgba(#606060, 1.0);


/////////////////

@mixin h1 {

//line-height: 200px;
font-size: 4em;
font-family: 'Palanquin Dark', sans-serif;  
text-align: center;
    
}

/////////////////

@font-face {
font-family: Klavika-Bold-Bold;
src: url(fonts/KlavikaBoldBold.woff);
}

///fuentes/////
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');

@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');

@import url("http://fonts.googleapis.com/css?family=Lato");

@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani');

///////////////////
*{
	margin:0;
	padding:0;
//    box-sizing: border-box;
    
    
}

body{
    background: $color6;
//    z-index: 5;
}



//////////BARRA DE MENU/////////////


.header1{
//	background: $color2;
    height: 150px;
    width: 100%;
//    box-shadow: 0 0 20px; 
    position: fixed;
    z-index: 1;
    
} 
.menu{
//    position: absolute;
//	top:50px;
//	left: 0;
//	width: 100%;
//	/* VH es para que ocupe el 100% del alto de la ventana*/
//	height:100vh;
//	background: rgba(51,51,51,0.5);
//	transition: all 0.5s;
//	transform: translatey(-100%);

}

#btn-menu{
 display: none;
    
}

#btn-menu:hover{
 //cursor: pointer;
}

.menu label img{
    display: none;
}

header label{
	float: right;
	font-size: 28px;
	margin: 6px 0 ;
	cursor: pointer;
    display: none;
}


.logow{
    height: 150px;
    width: auto;
    float: left;
    display: none;
    
}



.menu ul {
    margin-right: 20px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;  
    
}


.menu a{
    text-decoration: none;
    list-style: none;
    color: $color0;
    margin: 20px;
    font-size:20px; 
    line-height: 50px;
    font-family: 'Palanquin Dark', sans-serif;
    float: right;
   display: block;
}

#ini{
    padding: 5px;
    background: $color3;
    border-radius: 0 0px 15px 15px;
    border: 2px solid #fff;
}



.menu a:hover{
    color: $color9;
    border-bottom: 5px solid $color3;
}

#ini a:hover{
    border-bottom: none;
    color: $color9;
    
}

//////////////////

.menu-cambio{
    background: $color3;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px; 
    position: fixed;
    z-index: 1;
    transition: all 1s;
    
   .logow  {
    height: 100px;
 //   width: auto;
//  float: left;
 //   display: none;
    
} 
    

    
    #ini{
    padding: 0px;
    background: $color0;
    border-radius: 0 0px 15px 15px;
    border: 2px solid #fff;
    box-sizing: border-box;
    
        a{
            color: $color3;
        }
}
    
    .menu a{
    text-decoration: none;
    list-style: none;
    color: $color0;
    margin: 10px;
    font-size:20px; 
    line-height: 50px;
    font-family: 'Palanquin Dark', sans-serif;
    float: right;
 //       display: block;
}
    
    
    .menu a:hover{
    color: $color9;
//    text-decoration: underline;
//    text-decoration-color: $color0;
//    text-decoration-style:solid;
//    text-decoration-skip:spaces 10px;
    border-bottom: 2px solid $color0;
    text-shadow: 2px 2px 2px $color10;
}

#ini a:hover{
    border-bottom: none;
    text-shadow: 2px 2px 2px $color9;
    
}
}
///////////responsive menu/////////////

@media(max-width:800px){
    
    .menu{
       
        position: absolute;
        background: #e51919;
        width: 100%;
        margin-top: -1000px;
//        margin-left:180px;
        transition: all 0.5s;

    }
         
    .menu li{
        border-top: 2px solid;
        //display: none;
        border-top: 2px solid $color3;
        //left: -1000px;
    }
    
    .menu ul{
        position: absolute;
        flex-direction: column;
        //left: -70%;
        background: $color5;
        left:0px;
        width: 100%;  
        top:80px;
        //display: none,
        

    }
    
    #ini{
    padding: 0px;
    background: $color3;
    border-radius: 0 0px 0px 0px;
    border: 2px solid #fff;
    box-sizing: border-box;
    
        a{
            color: $color0;
        }
}
    
    header label{
        display: flex;
           margin-right: 20px;
            margin-top: 15px;
    }
    
     .menu a{
    text-decoration: none;
    //list-style: none;
    color: $color0;
    margin: 10px;
    font-size:20px; 
    //line-height: 50px;
    
    

}
    
       label {
            height: 30px;
            width: 30px;
           // float: right;
            display: flex;
            justify-content: center;
            margin-right: 20px;
            margin-top: 15px;
            background: rgba($color3 , .9);
            padding: 10px;
            border-radius: 40px;
          
    }
    
    label img{
       
    }
    
    #btn-menu:checked ~ .menu{
       margin-top: 0px;
        //display: block;
      
    }
    


  ////cambio scroll////  
    .menu-cambio{
        label {
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        margin-right: 20px;
        margin-top: 15px;
        background: rgba(#ccc , .0);
    }
        
        
        #ini{
    padding: 0px;
    background: $color0;
    border-radius: 0 0px 0px 0px;
    border: 2px solid #fff;
    box-sizing: border-box;
    
        a{
            color: $color3;
        }
}
    }
    
    
}


/* Basic Reset */
* {
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body {
  background: #33322f;
  overflow-x: hidden;
}

/* Gallery */
.gallery {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  list-style: none;
}

.gallery img {
  display: block;
  float: left;
}

.gallery ul {
  list-style: none;
}

.gallery ul li.each {
  position: relative;
  float: left;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.gallery ul li.each, .gallery ul li.each img {
  height: 0px;
}

.gallery ul li.each img {
  opacity: 0.5;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-animation: gallery 2s infinite;
  animation: gallery 2s infinite;
}

.gallery ul li.each.active, .gallery ul li.each.active img {
  height: auto;
  width: 100%;
}

.gallery ul li.each.active img {
  opacity: 1;
}

.gallery .caption1 {
  position: absolute;
  bottom: 20%;
  left: 20px;
  right: 20px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
  border-radius: 30px;
}
.gallery .caption1 h2 {
  font: 30px "Lato", sans-serif;
  letter-spacing: 20px;
  text-align: center;
  margin: 5px 5px 5px 50px;
  text-shadow: 0 0 20px #000;
}

.caption2 {
  position: absolute;
  left: 22%;
  bottom: 15%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallery .caption {
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 20px;
  text-transform: uppercase;
}

.gallery .caption h2, .gallery .caption p {
  background: white;
  padding: 7px;
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
  border-radius: 30px;
  color: #34394b;
}

.gallery .caption h2 {
  font: 24px "Lato", sans-serif;
  float: left;
  color: $color3;
}

.gallery .caption p {
  font: 18px "Lato", sans-serif;
  float: left;
  clear: both;
}

/* Direction */
.direction {
  position: absolute;
  top: 50%;
  margin-top: -74px;
  right: -100px;
  background: white;
  width: 158px;
  height: 158px;
  display: block;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 0;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  opacity: 0.3;
}

.direction:hover {
  position: absolute;
  top: 50%;
  margin-top: -74px;
  right: -100px;
  opacity: 1;
}

.direction2 {
  position: absolute;
  top: 50%;
  margin-top: -74px;
  left: -100px;
  background: white;
  width: 158px;
  height: 158px;
  display: block;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 0;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  opacity: 0.3;
}

.direction2:hover {
  opacity: 1;
}

.direction2 .previo {
  position: absolute;
  top: 25px;
  left: 90px;
  color: $color3;
  font: 40px "Lato", sans-serif;
  text-shadow: 0 1px #000, 0 2px #ccc, 0 3px #ccc, 0 4px #ccc, 0 5px #ccc;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  cursor: pointer;
}

.direction .next {
  position: absolute;
  top: 90px;
  left: 25px;
  color: $color3;
  font: 40px "Lato", sans-serif;
  text-shadow: 0 1px #000, 0 2px #ccc, 0 3px #ccc, 0 4px #ccc, 0 5px #ccc;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  cursor: pointer;
}

.slimage {
  height: 100%;
  width: auto;
}

.letter-logo {
  color: $color3;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 60px;
  text-shadow: 5px 2px 5px white;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 500px;
  top: 500px;
}

@media (max-width: 1000px) {
  .caption1 .letter-logo {
    font-size: 40px;
  }

  .gallery .caption1 h2 {
    font: 20px "Lato", sans-serif;
    letter-spacing: 20px;
    text-align: center;
    margin: 5px 5px 5px 50px;
  }
}
@media (max-width: 600px) {
  .caption1 .letter-logo {
    font-size: 30px;
  }
  .caption1 .boton2 {
    height: 30px;
    width: 80px;
    border-radius: 20px;
    border: 2px solid #fff;
    color: white;
    font-family: 'Palanquin Dark', sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px auto;
  }
  .caption1 .boton2 a {
    font-size: 12px;
  }

  .gallery .caption1 h2 {
    font: 15px "Lato", sans-serif;
    letter-spacing: 10px;
    text-align: center;
    margin: 5px 5px 5px 5px;
  }
}
@media (max-width: 480px) {
  .caption1 .letter-logo {
    font-size: 20px;
  }
  .caption1 .boton2 {
    height: 20px;
    width: 80px;
    border-radius: 20px;
    border: 2px solid #fff;
    color: white;
    font-family: 'Palanquin Dark', sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 5px auto;
  }
  .caption1 .boton2 a {
    font-size: 12px;
  }

  .gallery .caption1 h2 {
    font-size: 15px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 350px) {
  .caption1 .letter-logo {
    font-size: 15px;
  }
  .caption1 .boton2 {
    height: 20px;
    width: 80px;
    border-radius: 20px;
    border: 2px solid #fff;
    color: white;
    font-family: 'Palanquin Dark', sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 5px auto;
  }
  .caption1 .boton2 a {
    font-size: 12px;
  }

  .gallery .caption1 h2 {
    font-size: 12px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0px 0px 0px 0px;
  }
}







////////////////////////////////////////////////////

#cont1{
    width: 100%;
    height: auto;
    
    
    
     h1{
        top: 30%;
        left: 25%;
//        bottom: -20px;
        color: aliceblue;
        position: absolute;
        text-align: center;
         font-family: 'Palanquin Dark', sans-serif;
         font-size: 50px;
         text-shadow: -2px 5px 5px #999;
         border: 5px solid #fff;
         border-radius: 20px;
         padding: 10px;
         margin: auto;
    }
    
    
    .boton1{
    height: 50px;
    width: 100px;
    background: $color3;
    border-radius: 20px;
    border: 2px solid #fff;
        position: absolute;
        top: 55%;
        left: 42%;
}
    .boton1:hover{
        background-color: darken($color3, 10%);
    }
    
    div{
        color: $color0;
        font-family: 'Palanquin Dark', sans-serif;
        text-align: center;
        line-height: 50px;
        
    }
}

#cont1 img{
    background: #000;
    height: auto;
    width: 100%;
    
//    margin-top: 150px;
    
//    opacity: 0.5;
//    z-index: 17;
    
    
    
   
}




////////////////////////////////////////

#cont2{
    background: $color3;
    padding-bottom: 100px;
    
    
    img{
        width: 100%;
        display: flex;
        left: 20px;
        right: 20px;
        
    }
}

#cont2 h1, h2{
    text-align: center;
    color: #fff;
    
}

#cont2 h1{
  //  line-height: 200px;
  font-size: 4em;
    font-family: 'Palanquin Dark', sans-serif;
    text-shadow: 0 5px 5px #000;
    
}
#cont2 h2{
  font-size: 2em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
}



@media(max-width: 360px){
    #cont2 h1{
        font-size: 2em;
    }
}


////////////////servicios//////
.serv1{
 background: $color0;
    min-height: 200px;
    position: relative;
    
    
     h1{
         @include h1;
        
    }
   
    
    
}

.servi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
    background: $color0;
    
}

.ser{
    height: 250px;
    width: 500px;
//    border-radius: 200px;
    background: $color3;
    margin: 20px;
    box-shadow: 0 0 10px;
    
    
    &:hover{
        
        transition: all 0.01s;
        background: $color6;
        transform: scale(1.1);
        border-radius: 20px;
    }
    
    
    
    
    h2{   
    text-align: center;
    font-size: 2em;
        font-family: 'Raleway', sans-serif;
         text-shadow: 0 2px 2px #000;
    }
    h3{
    text-align: center;

    font-size: 1em;
        font-family: 'Palanquin Dark', sans-serif;
        color: #fff;
       
    }
    
    img{
        height: 100px;
        width: 100%;
    }
}

@media(max-width:360px){
    .serv1 h1{
        font-size: 2em;
    }
}

@media(max-width:1200px){
        .ser{
            width: 300px;
        }
    }

@media(max-width:1024px){
        .ser{
            width: 290px;
        }
    }

@media(max-width:670px){
        .ser{
            width: 90%;
        }
    }

///////parallax/////////
#cont4{
    background: $color3;
    height: 500px;
    background-image: url(img/fondo1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
//    opacity: 0.2;
//    z-index: 11;
    
    
    h1{
        z-index: 1;
        opacity: none;
        text-align: center;
//        color: $color3;
        font-size: 60px;
        font-family: 'Palanquin Dark', sans-serif;
        text-shadow: 2px 2px 5px #000;
        padding-top: 10%;
        color: lighten($color3,10% );
        margin-left: 5%;
        margin-right: 5%;
    }
    
    h2{
        text-align: center;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
       text-shadow: 2px 2px 5px #000;
        padding-top: 1%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.boton2{
    height: 50px;
    width: 100px;
    background: $color3;
    border-radius: 20px;
    border: 2px solid #fff;
    color: $color0;
    font-family: 'Palanquin Dark', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
//    align-content: center;
//        position: absolute;
//        top: 55%;
//        left: 42%;
    
    
    
    a{
        text-decoration: none;
        color: $color0;
        
    }
}
    .boton2:hover{
        background-color: darken($color3, 10%);
    }



@media(max-width:768px){
    #cont4 h1{
        font-size: 3em;
    }
    
    #cont4 h2{
        font-size: 2em;
    }
}

@media(max-width:480px){
    #cont4 h1{
        font-size: 2.5em;
    }
    
    #cont4 h2{
        font-size: 1.5em;
    }
}



/////////////portafolio//////////

.tipor{
      background: $color5;
    height: 100px;
    
    h1{
       color: $color0;
        font-size: 3em;
        text-align: center;
        font-family: 'Palanquin Dark', sans-serif;
    }
}

@media(max-width:480px){
  .tipor h1{
        font-size: 2.2em;
        
    }
}

.portafolio{
    background: $color6;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
    h1{
        text-align: center;
        color: $color0;
        
    }
    
}


.porx{
    background: $color9;
    height: 600px;
    width: 2000px;
//    overflow: hidden;
//    display: inline-flex;
    display:flex;
    overflow: auto;
    
    

}

.port1{
        background: #000;
        height: 500px;
        width: 500px;
        margin: 30px 50px 10px 10px;
        box-shadow: 2px 2px 20px $color9;
        border: 2px solid #000;
        min-width: 300px;
    box-shadow: 0 2px 20px $color10;
      
    }



.porta1{
    background: #dbdada;
        height: 400px;
        width: 100%;
    background-image: url(img/Website%20G.%20Gonzalez%20kinesiologo.png);
    background-size:cover;
    
}

.porta2{
    background: #dbdada;
        height: 400px;
        width: 100%;
    background-image: url(img/website-%20gelato-ar.png);
    background-size: cover;
    
}

.porta3{
    background: #dbdada;
        height: 400px;
        width: 100%;
    background-image: url(img/web-arquitectura.png);
    background-size: cover;
    
}


.porta4{
    background: #dbdada;
        height: 400px;
        width: 100%;
    background-image: url(img/WEBSITE%20I.E.%20NOBEL.png);
    background-size: cover;
    
}

.porta5{
    background: #dbdada;
        height: 400px;
        width: 100%;
    background-image: url(img/page-mypets.png);
    background-size: cover;
    
}

.pordes{
    
    background: $color5;
    height: 100px;
//    display: flex;
//    flex-wrap: column;
//    justify-content: flex-end;
 box-shadow: inset 0 2px 20px #000;
//  border-bottom: 2px solid #fff000;
    
    h3{
       color: $color0;
        font-size: 30px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        line-height: 100px;
        
    }
}

//////////tabla de precios////////////////

.tituloz{
    height: 100px;
    background: $color5;
    margin: 0;
    
    h1{
       color: $color0;
        font-size: 3em;
        text-align: center;
        font-family: 'Palanquin Dark', sans-serif;
    }
}

@media(max-width:480px){
  .tituloz h1{
        font-size: 2em;
        
    }
    
    #precios{
       padding-bottom: 10px;
    padding-top: 10px; 
    }
    
    .tabla{
        transform:scale(0.9);
        margin: 0;
        padding: 0;
    }
    
    .tabla:hover{
    transform: scale(0.5);
}
    .rango h3{
        font-size: 10px;
    }
}

#precios{
    height: auto;
    width: 100%;
    background:$color9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 50px;
}

.tabla{
    height: 600px;
    width: 300px;
    margin: 20px auto;
    background:$color0;
    border: 2px solid #000;
    box-shadow: 0 2px 20px #000;
}

.tabla:hover{
    transform: scale(1.07);
}


#tabla2 .rango{

    background:$color5;
}

#tabla3 .rango{

    background:$color10;
}

.rango{
    height: 90px;
    width: 100%;
    background:$color3;
    
    h2{
        color: $color9;
        font-size: 20px;
        text-align: center;
        padding-top: 5px;
       font-family: 'Roboto', sans-serif;
        //font-family:  sans-serif ,'Mukta Vaani',;
    }
    
    h3{
        color: $color0;
        font-size: 30px;
        text-align: center;
        padding: 0px;
        //font-family: 'Roboto', sans-serif;
        font-family:  'Mukta Vaani', sans-serif ;
    }
}

.valor{
    height: 90px;
    width: 100%;
    background: #444444 ;
    
    
    h1{
        color: $color0;
        font-size: 40px;
        text-align: center;
        padding: 20px;
        //font-family: 'Roboto', sans-serif;
        font-family:  sans-serif ,'Mukta Vaani',;
        
        
        sup{
            font-size: 15px;
        }
    }
}

.detalles{
    height: 340px;
    width: 100%;
    background: darken($color0,0% );
    
    
    span{
        color: #13e121;
        font-weight: bold;
        font-size: 20px;
        font-family: sans-serif;
        text-shadow: 0px 2px 10px #000;
        
    }
    
    
    .list1{
        width: 100%;
         height: auto;
        background: $color0;
        list-style: none;
        text-align: center;
        font-family:  'Mukta Vaani', sans-serif ;
    }
    
    
    .list2{
        width: 100%;
        //height: 30px;
        background: $color9;
        list-style: none;
        text-align: center;
        font-family:  'Mukta Vaani', sans-serif ;
    }
}



.clickea{
    height: 80px;
    width: 100%;
    background: $color2 ;
    display: inline-flex;
    justify-content: center;
    
    
    .botonz{
     padding: 10px 30px;
     background: $color3;
     border: 2px solid $color10; 
     border-radius: 5px;
     text-decoration: none;
     color: $color0;  
     font-family:  'Mukta Vaani', sans-serif ;
        margin: auto 0px auto 10px;
    }
    
    .botonz:hover{
        background: $color6;
    }
    
    img{
        margin: auto 0px auto -50px;
    }
}

#tabla2 .botonz{
    background: $color5;
    
    
    &:hover{
        background: $color6;
    }
}

#tabla3 .botonz{
    background: $color10;
    
    
    &:hover{
        background: $color6;
    }
}



////////MEDIOS DE PAGO////////

.pagos0{
    background: $color9;
    height: auto;
    
    
    h1{
        font-family: 'lato';
        text-align: center;
        padding-top: 20px;
        padding-bottom: 50px;
    }
}

.pagos{
    background: $color9;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
    
    img{
        height: 80px;
        width: auto;
        margin: 20px;
    }
}


@media(max-width:480px){
    
}




///////////Acordeon o texto desplegable//////////////




#container-main{
    margin:40px auto;
    width:95%;
    min-width:320px;
    max-width:960px;
    
}



#container-main h1{
    color: $color0;
    //font-size: 40px;
    text-shadow:4px 4px 5px $color10;
    padding-bottom: 10px;
    font-family: 'lato';
    text-align: center;
    border-bottom: 5px solid $color3 10%;
    //margin: 0px 280px 40px 280px;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 2.5em;

}




@media(max-width: 360px){
    #container-main h1{
        font-size: 1.6em;
        margin: 0px;
        padding: 0px;
    }
}




.accordion-container {
    width: 100%;
    margin: 0 0 20px;
    clear:both;
}

.accordion-titulo {
    position: relative;
    display: block;
    padding: 20px;
    font-size: 24px;
    font-weight: 300;
//    background: #2c3e50;
    background: $color12;
    color: #fff;
    text-decoration: none;
    font-family: 'Palanquin Dark', sans-serif;
}
.accordion-titulo.open {
//    background: #16a085;
    background: $color5;
    color: #fff;
}
.accordion-titulo:hover {
//    background: #1abc9c;
    background: $color3;
}

.accordion-titulo span.toggle-icon:before {
    content:"+";
}

.accordion-titulo.open span.toggle-icon:before {
    content:"-";
}

.accordion-titulo span.toggle-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 38px;
    font-weight:bold;
}

.accordion-content {
    display: none;
    padding: 20px;
    overflow: auto;
}

.accordion-content p{
    margin:0;
    color: $color0;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.2em;
}

.accordion-content img {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 50%;
    height: auto;
}


@media (max-width: 767px) {
    .accordion-content {
        padding: 10px 0;
    }
}




/////////contacto///////

#contacto{
    height: auto;
    width: 100%;
    background: $color3;
    display: flex;
    justify-content: center;
//    margin-bottom: 100px;
    background-image: url(img/fondo15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
#contacto form{
    height: 700px;
    width: 80%;
    background: $color2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    padding: 20px;

   
    
}
.imput1{
    width: 90%;
    margin: 10px;
    padding: 10px;
    color: $color3;
    font-size: 14px;
    font-weight: 900;
    font-family:  'Mukta Vaani', sans-serif ;
}
#comentarios{
    width: 90%;
    margin: 10px;
    padding: 10px;
    color: $color3;
    font-size: 15px;
    font-weight: 900;
	max-height: 200px;
    font-family:  'Mukta Vaani', sans-serif ;
}
#boton1{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    cursor:pointer;
    background: #fff;
    color: #333333 ;
    border:2px solid;
    border-radius: 10px;
    font-size: 20px;
    
    
}
#boton1:hover{
    background: $color3;
    border: 2px solid #fff;
    color: #fff;
    
}
.titu2{
    font-size: 4em;
    color: #fff;
	text-align: center;
	margin-top: 20px;
	font-family: 'Palanquin Dark', sans-serif;
	border-bottom: 5px solid #fff;
	margin-bottom: 10px;
    text-shadow: 0 5px 5px #000;
}

@media(max-width: 360px){
    .titu2{
        font-size: 2em;
    }
}



///////////footer//////////////
.pie{
    background: $color6;
    height: auto;
    display:flex;
    justify-content:space-between;
    padding: 40px;
    
    
    img{
        height: 40px;
        margin: 5px;
        
    }
    
    h1{
        color: $color0;
        font-family: 'Palanquin Dark', sans-serif;
        font-size: 15px;
        //width: 100%;
        margin: 10px;
    }
    
    .logoweb{
        height: 150px;
        float: right;
        top: 0px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;

    }
}
.footer{
    background: #1c2329;
    width: 100%;
    min-height: 100px;
//    float: right;
    
    h5{
        font-size: 1em;
        font-family: 'Palanquin Dark', sans-serif;
        color: #fff;
        text-align: center;
        margin: auto;
        padding: 30px
        //line-height: 100px;
    }
}

.pie0{
    display: block;
    justify-content: space-around;
}
.pie00{
    display: flex;
    justify-content: space-around;

}


//////responsive footer//////

@media(max-width:550px){
    .pie{
        display: block;
    }
}



/*************PLUGIN DE ME GUSTA DE FACEBOOK*********************/


.cajaface{
    background: $color11;
    height: 410px;
    width: 280px;
    display: flex;
    justify-content: center;
    right: -290px;
    bottom: 50px;
    //margin: auto;
    position: fixed;
    

}

.faceplug{
    margin: auto;
    
}

.cajaface:before{
    content: 'f';
    height: 50px;
    width: 50px;
    background: $color11;
    color: aliceblue;
    font-family: Klavika-Bold-Bold;
    font-size: 25px;
    transform: rotate(-90deg);
    //padding: 0 20px 0 20px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    //margin: auto;
    left: -50px;
//    bottom: 0px;
//    right: 0px;
    top: 200px;
//    margin-left: 0px;
//    margin-right: 00px;
//    margin-bottom: 0px;
//    margin-top: 50px;
//    border: 2px 2px 2px 0px solid $color10;
    
    
    
}




.cajaface:hover{
    
   background: $color11;
   right: 0px;
    transition: all 1s;
    cursor: pointer;

}

.cajaface{
    right: -290px;
    transition: all 1s;
}



/*************BOTON ARRIBA*********************/

.btn-arriba{
    background: $color3;
    height: 40px;
    width: 40px;
    right: 0px;
    bottom: 120px;
    position: fixed;
    text-align: center;
//    box-shadow: 3px 3px 2px 2px $color0;
  
    color: #fff;
    font-size: 40px;
    border-radius: 0px;
    border: 3px solid #f9ff51;
    cursor: pointer;
    font-family: cursive;
    
   
    
}

@media (max-width:640px){
    .btn-arriba{
        right: 10px;
    bottom: 60px;
        border-radius: 40px;
    border: 3px solid #f9ff51;
    }
}



/************ESTILO DE BARRA DE DESPLAZAMIENTO****************/
/************************TEXTAREA*****************************/

/******************CHROME*************************/

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $color7;
}

/*******************MOZILA****************************/

::-moz-scrollbar-track
{
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-moz-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-moz-scrollbar-thumb
{
	border-radius: 10px;
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $color7;
}

/*******************OPERA*******************************/
::-o-scrollbar-track
{
	-o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-o-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-o-scrollbar-thumb
{
	border-radius: 10px;
	-o-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $color7;
}


/*******************EXPLORER*******************************/
::-ms-scrollbar-track
{
	-ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-ms-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-ms-scrollbar-thumb
{
	border-radius: 10px;
	-ms-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $color7;
}



/****************************************************************/







